# Homework 1 (100 points)

The goal of this homework is to practice using [pandas](https://pypi.org/project/pandas/) methods. If your:

1. code is taking a long time to run
2. code involves for loops or while loops

look through the pandas documentation for alternatives.

## Exercise 1 (60 points)

This exercise will use the [Titanic dataset](https://www.kaggle.com/c/titanic/data) (https://www.kaggle.com/c/titanic/data). Download the file named `train.csv` and place it in the same folder as this notebook.

a) Write a function that reads in a filepath to a csv and returns the DataFrame. (5 points)

In [ ]:
import pandas as pd

df = # your code here
df.describe()

b) Write a function that returns the number of rows that have at least one empty column value - (2.5 points)

In [ ]:
def num_nans(df):
    return # your code here

print("there are " +  str(num_nans(df)) + " rows with at least one empty value")

c) Write a function that removes all columns with more than 200 NaN values - (2.5 points)

In [ ]:
def drop_na(df):
    return # your code here

df = drop_na(df)
df.columns

d) Write a function that replaces `male` with 0 and `female` with 1 - (2.5 points)

In [ ]:
def to_numerical(df):
    return # your code here

df['sex'] = to_numerical(df)
df.head()

e)  Write a function that adds four columns `First Name`, `Middle Name`, `Last Name`, and `Title` corresponding to the value in the `name` column. - (5 points) 

For example: `Braund, Mr. Owen Harris` would be: 

|First Name | Middle Name | Last Name | Title |
|-----------|-------------|-----------|-------|
| Owen      |  Harris     |  Braund   | Mr    |

In [ ]:
def extract_names(df):
    return # your code here

df[['First Name', 'Middle Name', 'Last Name', 'Title']] = extract_names(df)
df.head()

f) Write a function that replaces all missing ages with the average age - (2.5 points)

In [ ]:
def replace_with_mean(df):
    return # your code here

df['age'] = replace_with_mean(df)
df.head()

The next set of questions focus on visualization. Please use pandas and [matplotlib](https://pypi.org/project/matplotlib/) for all plotting.

g) Plot a bar chart of the average age of those that survived and did not survive. Briefly comment on what you observe. - (2.5 points)

In [ ]:
# your code here

-> your answer here

h) Plot a bar chart of the proportion that survived for male and female. Briefly comment on what you observe. - (2.5 points)

In [ ]:
# your code here

-> your answer here

i) Plot a bar chart of the proportion that survived for each title. Briefly comment on what you observe. - (5 points)

In [ ]:
# your code here

-> your answer here

j) Plot a bar chart of the average fare for those that survived and those that did not survive. Briefly comment on what you observe. - (5 points)

In [ ]:
# your code here

-> your answer here

k) Create a boxplot for the fare of those that survived and those that did not survive. Briefly comment on what you observe. - (5 points)

In [ ]:
# your code here

-> your answer here

k) Create a function to subtract the mean fare from the actual fare then divide by the standard deviation - (2.5 points)

In [ ]:
# your code here
df.head()

l) Remove all non-numerical columns from the dataframe. - (2.5 points)

In [ ]:
df = # < your code here >

m) Ignoring passenger ID, write a function that returns the names of the N most similar passengers using the euclidean distance? - (15 points)

In [ ]:
def N_most_similar(df, N):
    return # < your code here >

print("The 3 most similar passengers are: " + str(N_most_similar(df, 3)))

## Exercise 2 - (40 points)

Another way to get data is by using APIs. Here we will be using the google books API (https://developers.google.com/books/docs/overview)

a) Create a list with these topic strings: Python; Data Science; Data Analysis; Machine Learning; and Deep 
Learning. Use these topics, one at a time, to query the Google Books API by modifying the code below. - (5 points)

In [7]:
import requests
import json

"""
    Google Books Api
    See: https://developers.google.com/books/
"""

def get(topic=""):
    BASEURL = 'https://www.googleapis.com/books/v1/volumes'
    headers = {'Content-Type': 'application/json'}

    response = requests.get(BASEURL + "?q=" + topic, headers=headers)

    if response.status_code == 200:
        return json.loads(response.content.decode('utf-8'))

    return response

python = get()
data_science = get()
data_analytics = get()
machine_learning = get()
deep_learning = get()

b) For each returned JSON string: Convert the JSON string to a dict using `loads( )` then use this to convert it to a DataFrame: `pd.json_normalize( thedict['items'] )`. Then save them as `.csv`. - (5 points)

In [10]:
# your code here

c) For each DataFrame, relabel `volumeInfo.title` as `Title` and `volumeInfo.authors` as `Authors`. - (5 points)

In [ ]:
# your code here

d) For each DataFrame create a new column called `Topic` with the name of the topic from the API query above. Then merge all DataFrames into one and save it to a new `.csv` file. - (10 points)

In [ ]:
# your code here

e) Write a function that returns all rows whose `Title` contains the word `Data` (case incensitive). - (5 points)

In [ ]:
# your code here

f) Write a function that returns all rows whose `Authors` first or last name starts with the letter `E` - (10 points)

In [ ]:
# your code here